#register-button:hover {
background-color:black;
transition: 0.7s;
}

body {
margin: 0px; /* 기본 margin 없애기 */
}
    
.input_container {
display: inline-block; /* 내부 요소 크기 만큼 */
padding: 30px; /* padding 4군데 모두 30px */
}

input {
width: 15em; /* 가로 크기 */
height: 2em; /* 세로 크기 */
border: 1px solid gray; /* 기본 테두리 */
border-radius: 20px; /* 테두리 둥글게 */
padding: 0px 10px; /* 입력 padding 띄우기(좌,우) */
}

input:focus { /* 포커스 시 */
border: 1px solid black; /* 기본 테두리 변경 */
outline: 1px solid black; /* out 테두리 변경 */
border-radius: 10px; /* 테두리 둥글게 */
}

.modal-wrap {
position: absolute;
top: 50%;
left: 50%;
transform: translate(-50%, -50%);
background: rgba(0, 0, 0, 0.4);
width: 100%;
height: 100%;
z-index: 3;
}

.modal-container {
position: fixed;
top: 0;
right: 0;
width: 350px;
display: flex;
justify-content: center;
align-items: center;
flex-direction: column;
background: #fff;
border-radius: 10px;
padding: 20px;
gap: 10px;
box-sizing: border-box;
z-index: 3;
}

#modal-button {
position: absolute;
top: 6%;
right: 2%;
transform: translate(50%, -50%);
width: 60px;
height: 30px;
z-index: 1;

-webkit-transform: scale(1);
transform: scale(1);
-webkit-transition: .5s ease-in-out;
transition: .5s ease-in-out;
}

#modal-button:hover {
-webkit-transform: scale(1.3);
transform: scale(1.3);
}

#profile {
position: relative;
display: flex;
width: 150px;
height: 150px;
margin: 15px;
background-image: url('../profile.png');
background-repeat: no-repeat;
background-position: center;
background-size: contain;
}

#register-button {
margin-top: 15px;
margin-bottom: 15px;
font-size: large;
color: #f8f8f8;
background-color: gray;
border-radius: 10px;
padding:7px 50px;
}

#map {
/* api map*/
position: absolute;
width: 100%;
height: 600px;
overflow: hidden;
opacity: 0.5;
}

#center {
box-sizing: border-box;
position: absolute;
top: 50%;
left: 50%;
transform: translate(-50%, -50%);
width: 100%;
height: 50%;
display: flex;
flex-direction: column;
justify-content: center;
align-items: center;
z-index: 1;
}
    
#logo {
display: flex;
justify-content: center;
align-items: center;
width: 300px;
height: 300px;
background-image: url('../wizmap.png');
background-repeat: no-repeat;
background-position: center;
background-size: contain;
}

#home-search-input {
display: flex;
justify-content: center;
width: 650px;
height: 60px;
background: #f8f8f8;
border: 1px gray;
border-radius: 25px;
box-shadow: 5px 5px 5px gray;
}

#home-search-button {
position: relative;
top: -50%;
left: 87%;
transform: translate(100%, 100%);
width: 60px;
height: 30px;
z-index: 2;

-webkit-transform: scale(1);
transform: scale(1);
-webkit-transition: .5s ease-in-out;
transition: .5s ease-in-out;
}

#home-search-button:hover {
-webkit-transform: scale(1.3);
transform: scale(1.3);
}



