body {
margin: 0px; /* 기본 margin 없애기 */
}

.input_container {
display: inline-block; 
padding: 30px; 
}

input {
width: 15em; 
height: 2em; 
border: 1px solid gray; 
border-radius: 20px; 
padding: 0px 10px;
}

input:focus { /* 포커스 시 */
border: 1px solid black; 
outline: 1px solid black; 
border-radius: 10px;
}

/* 좌측 모달 */
.modal-quikslot-wrap, .modal-favorits-wrap, .modal-history-wrap {
position: absolute;
top: 50%;
left: 425%;
background-color: #f8f8f8;
width: 40px;
height: 40px;
border-radius: 10px;
box-shadow: 5px 5px 5px gray;
z-index: 3;
}

.modal-favorite-wrap {
position: absolute;
top: 50%;
margin-left: 73px;
background-color: #f8f8f8;
width: 40px;
height: 40px;
border-radius: 10px;
box-shadow: 5px 5px 5px gray;
z-index: 3;
}

.modal-favorite-container {
position: fixed;
top: 0;
left: 0;
width: 70px;
height: 100%;
display: flex;
align-items: center;
flex-direction: column;
background: #fff;
border-radius: 10px;
padding: 20px;
gap: 10px;
box-sizing: border-box;
border-style: solid;
border-color: black;
border-width: 1px;
border-radius: 10px;
box-shadow: 5px 5px 5px gray;
z-index: 3;
}

#modal-favorite-button {
position: absolute;
top: 6%;
left: 2%;
transform: translate(50%, -50%);
width: 60px;
height: 30px;
z-index: 1;

-webkit-transform: scale(1);
transform: scale(1);
-webkit-transition: .5s ease-in-out;
transition: .5s ease-in-out;
}

#modal-favorite-button:hover {
-webkit-transform: scale(1.3);
transform: scale(1.3);
}

/* 퀵, 즐겨찾기, 히스토리 */
#quikslot-button, #favorits-button, #history-button {
font-size: large;
color: #000000;
background-color: rgb(255, 255, 255);
border-radius: 10px;
-webkit-transform: scale(1);
transform: scale(1);
-webkit-transition: .5s ease-in-out;
transition: .5s ease-in-out;
}

#quikslot-button:hover, #favorits-button:hover, #history-button:hover {
-webkit-transform: scale(1.3);
transform: scale(1.3);
}

.modal-quikslot-container, .modal-favorits-container, .modal-history-container {
position: fixed;
top: 0;
left: 70px;
width: 220px;
height: 100%;
display: flex;
justify-content: center;
align-items: center;
flex-direction: column;
background: #fff;
border-radius: 10px;
padding: 20px;
gap: 10px;
box-sizing: border-box;
border-radius: 10px;
box-shadow: 5px 5px 5px gray;
z-index: 3;
}

/* 퀵 */
#quik-buttons {
position: fixed;
top: 40px;
display: flex;
justify-content: center;
align-items: center;
flex-direction: row;
gap:20px;
}

/* 우측 모달 */
.modal-wrap {
position: absolute;
top: 50%;
left: 50%;
transform: translate(-50%, -50%);
background: rgba(0, 0, 0, 0.4);
width: 100%;
height: 100%;
z-index: 3;
}

.modal-container {
position: fixed;
top: 0;
right: 0;
width: 350px;
display: flex;
justify-content: center;
align-items: center;
flex-direction: column;
background: #fff;
border-radius: 10px;
padding: 20px;
gap: 10px;
box-sizing: border-box;
z-index: 3;
}

#modal-button {
position: absolute;
top: 6%;
right: 2%;
transform: translate(50%, -50%);
width: 60px;
height: 30px;
z-index: 1;

-webkit-transform: scale(1);
transform: scale(1);
-webkit-transition: .5s ease-in-out;
transition: .5s ease-in-out;
}

#modal-button:hover {
-webkit-transform: scale(1.3);
transform: scale(1.3);
}

#profile {
position: relative;
display: flex;
width: 150px;
height: 150px;
margin: 15px;
background-image: url('../profile.png');
background-repeat: no-repeat;
background-position: center;
background-size: contain;
}

#register-button {
margin-top: 15px;
margin-bottom: 15px;
font-size: large;
color: #f8f8f8;
background-color: gray;
border-radius: 10px;
padding:7px 50px;
}

#register-button:hover {
background-color:black;
transition: 0.7s;
}

/* 지도 */
#search-map {
position: absolute;
width: 100%;
height: 100%;
overflow: hidden;
}

/* 로고 및 검색창 */
#search-center {
position: absolute;
top: 5%;
left: 50%;
transform: translateX(-50%);
width: 70%;
/* height: 5%; */
display: flex;
flex-direction: row;
justify-content: center;
align-items: center;
z-index: 1;
}

#search-logo {
width: 50px;
height: 50px;
background-image: url('../wizmap.png');
background-repeat: no-repeat;
background-position: center;
background-size: contain;
}

#search-input {
position: relative;
width: 650px;
height: 50px;
background: #f8f8f8;
border: 1px solid gray; /* 수정: border 스타일 지정 */
border-radius: 25px;
box-shadow: 5px 5px 5px gray;
}

#search-button {
position: relative; /* 자식 요소를 absolute로 설정 */
right: 70px; /* 원하는 위치에 맞게 조정 */
top: 45%; /* 세로 중앙 정렬을 위해 50%로 설정 */
width: 30px;
height: 30px;
z-index: 2;
-webkit-transform: scale(1);
transform: scale(1);
-webkit-transition: .5s ease-in-out;
transition: .5s ease-in-out;
}

#search-button:hover {
-webkit-transform: scale(1.3);
transform: scale(1.3);
}


